body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: blanchedalmond;
}

h1 {
    font-size: 50px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(4, 120px);
    gap: 10px;
    justify-content: center;
    margin: 30px auto;
    background-color: rgb(7, 156, 86);
}

.card {
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;

    /* animation */
    transform: rotateY(0deg);
    transition: all 0.5s;
}

.card .card-content {
    opacity: 0;
    max-width: 100%;
    transition: all 0.3s;
}

.card.flip .card-content {
    opacity: 1;
    max-width: 100%;

}

.card.matched {
    border: solid 4px rgb(0, 255, 0);
    box-sizing: border-box;
    cursor: default;
}

.card.flip {
    transform: rotateY(180deg);
}

#timer {
    margin: 10px;
    font-size: 30px;
}

#score {
    margin: 10px;
    font-size: 30px;
}

.no-click {
    pointer-events: none;
}

#reload {
    opacity: 0;
}
